<!DOCTYPE html>
<html lang="en">

{% include 'user_auth/logout.html' %}


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <hr />
  <hr />
    <div class="container">
        {% for group in request.user.groups.all %}
            {% if group.name == 'Professor' %}
                <div>
                  <a class="btn btn-info" href="{% url 'video_publishing:video_edit' course_pk=course.pk video_pk=video_d.pk %}">Edit</a>

                  <a class="btn btn-danger" href="{% url 'video_publishing:video_delete' course_pk=course.pk video_pk=video_d.pk %}">Delete</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <hr />
    <div class="container">
      <h1>{{ course.title }}</h1>
      <hr />
      <h2>{{ video_d.title }}</h2>
      <div class="col-md-6">
        <iframe width="560" height="315" src="{{ video_d.youtube_link }}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <p>{{ video_d.description|linebreaksbr }}</p>
      </div>
    </div>
</body>
</html>
