<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>{{ course.title }}</h1>
        <p>Description: {{ course.description }}</p>
        <p>Author: {{ course.author }}</p>
    <div>

    <div><a class="btn btn-default" href="{% url 'course_edit' pk=course.pk %}"><span>Edit</span></a></div>

    {% for video in videos %}
        <div>
            <p>published: {{ video.pub_date }}</p>
            <h1><a href="">{{ video.title }}</a></h1>
            <iframe width="560" height="315" src="{{ video.youtube_link }}" frameborder="0" allowfullscreen></iframe>
            <p>{{ video.description|linebreaksbr }}</p>
        </div>
    {% endfor %}
</body>
</html>