<!DOCTYPE html>
<style type="text/css">
body {
	padding-top: 90px;
background-image: url('https://4.bp.blogspot.com/-Wd8qVL_9Ct8/VnBTk6FgKaI/AAAAAAAAJX8/-iGSJW3vG3g/s1600/education.jpg');
background-size: 101%;
}
	.div1
	{
		margin-top: 10%;
		margin-left: 10%;
		margin-right: 10%;
	}
</style>
<div align="center" class="div1">
{% block title %}<h1>Password reset successful!</h1>{% endblock %}

{% block content %}
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
<p>You should be receiving it shortly.</p>
{% endblock %}
