<!DOCTYPE html>
<style type="text/css">
body {
	padding-top: 90px;
background-image: url('https://4.bp.blogspot.com/-Wd8qVL_9Ct8/VnBTk6FgKaI/AAAAAAAAJX8/-iGSJW3vG3g/s1600/education.jpg');
background-size: 101%;
}
	.div1
	{
		margin-top: 10%;
		margin-left: 10%;
		margin-right: 10%;
	}
</style>

<div align="center" class="div1">
{% block title %}<h1>Reset Password</h1>{% endblock %}

{% block content %}
<p><h3>Please specify your email address to receive instructions for resetting it.</h3></p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
{% endblock %}
