<!DOCTYPE html>
<html lang="en">

{% include 'user_auth/logout.html' %}


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <hr />
  <hr />
    <div class="container">
        {% for group in request.user.groups.all %}
            {% if group.name == 'Professor' and request.user == course.author%}
                <div>
                  <a class="btn btn-info" href="{% url 'videopublishing:video_edit' course_pk=course.pk video_pk=video_d.pk %}">Edit</a>

                  <a class="btn btn-danger" href="{% url 'videopublishing:video_delete' course_pk=course.pk video_pk=video_d.pk %}">Delete</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <hr />
    <div class="container">
      <h1>{{ course.title }}</h1>
      <hr />
      <h2>{{ video_d.title }}</h2>
      <div class="col-md-6">
        <iframe width="560" height="315" src="{{ video_d.youtube_link }}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <p>{{ video_d.description|linebreaksbr }}</p>
      </div>
        <hr>

    </div>

  {% for comment in video_d.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.comment|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

     <h1>New comment</h1>
    <form method="POST" class="post-form" role="form">
        {% csrf_token %}

         <label for="description">New comment:</label>
            <textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
      <button type="submit" class="save btn btn-default">Send</button>
    </form>

</body>
</html>
