<!DOCTYPE html>
<html lang="en">

{% include 'user_auth/logout.html' %}


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ course.title }}</h1>
    <h2>{{ video_d.title }}</h2>
    <iframe width="560" height="315" src="{{ video_d.youtube_link }}" frameborder="0" allowfullscreen></iframe>
    <p>{{ video_d.description|linebreaksbr }}</p>

    {% for group in request.user.groups.all %}
        {% if group.name == 'Professor' %}
            <div><a href="{% url 'videopublishing:video_edit' course_pk=course.pk video_pk=video_d.pk %}"><span>Edit</span></a></div>
            <div><a href="{% url 'videopublishing:video_delete' course_pk=course.pk video_pk=video_d.pk %}"><span>Delete</span></a></div>
        {% endif %}
    {% endfor %}
</body>
</html>