<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/coursebut.css">
    <link rel="stylesheet" href="/static/css/drop.css">
<link rel="stylesheet" href="/static/css/searc.css">
<link rel="stylesheet" href="/static/css/newcourse.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.theme.css">
</head>



<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Welcome {{ user.get_username }}</button>
    <div id="myDropdown" class="dropdown-content">
      {% if user.is_authenticated %}
<a class="btn btn" href="{% url 'user_auth:change_password' %}">Change password</a>
  <a href="/logout_user/" class="btn btn">Logout</a>
        {% endif %}



    </div>
  </div>

        
          {% block content %} {% endblock %}
          <ul class="nav navbar-nav navbar-right">
<li>
<form type="get" action="/search">
<!--<button type="submit" class="button">Submit</button>-->
    <input type="tex" name="q" placeholder=" Search...">

    
</form>
</li>
            <li>
              <a href="/" class="button">Course list</a>
            </li>
            <li>
              {% for group in request.user.groups.all %}
                  {% if group.name == 'Professor' %}
                      <a class="button" href="{% url 'videopublishing:course_new' %}">New Course</a>
                  {% endif %}
              {% endfor %}
            </li>

          </ul>

      </div>
    </nav>
    <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
<br>
<br>
<br>
</html>
